.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('./loading.gif') 50% 50% no-repeat rgb(249,249,249);
}

@font-face {
    font-family: 'hanzi'; /*a name to be used later*/
    src: url('./hanzi.ttf'); /*URL to font*/
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
     /* background: url('./loading.gif') 50% 50% no-repeat rgb(249,249,249); */
}

.container-fluid {

    /* background: url('./loading.gif') 50% 50% no-repeat rgb(249,249,249); */
}


.navbar .navbar-collapse {
    text-align: center;
     /* background: url('./loading.gif') 50% 50% no-repeat rgb(249,249,249); */
}

.nav>li>a {
    color:#9d9d9d;

}


#home {
    list-style-image:  url('./1.png');
    font-family: Microsoft YaHei;
    font-size: 20px;
    color:#9d9d9d;
}

#left-tabs-exampl {
    background-color:#161616;
}

html,body {
height: 100%;
}


body {
    background-image: url("./background.jpg");
    background-size: 100% 100%;
}


#hanzi {
    text-align: center;
    margin: 0 0 10px;
    font-family: hanzi, Times, serif;
    font-size: 60px;
    color:#9d9d9d;
}


#bootstrap-overrides .nav>li>a:focus, .nav>li>a:hover {
    /* text-decoration: none; */
    background-color: #ce2323;
                                      }

#index {
     padding-bottom: 10px;
}

footer {
   /* background-image: url("./footer1.png"); */
      position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #222222;
  text-align: center;
}

footer > p {

    font-family: Times, serif;
    font-size: 10px;
    color:#9d9d9d;
}


label {
    color:#9d9d9d;
}

/* .enlarge:hover { */
/*         transform:scale(3,3); */
/*         transform-origin:0 0; */
/*          display: inline-block; /\* change the default display type to inline-block *\/ */
/*          overflow: hidden; */
/*            position:relative; */

/* } */

.zoom_img{
 display:inline-block;
    border:0;
    width:300px;
    height:200px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}
.zoom_img:hover{
  box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform:  translateX(50%) translateY(25%)  scale(3,3);
}

#div {
border-radius: 19px 44px 19px 19px;
-moz-border-radius: 19px 44px 19px 19px;
-webkit-border-radius: 19px 44px 19px 19px;
border: 5px double #345713;

background: #fefcea;
background: -moz-linear-gradient(top,  #fefcea 0%, #fcf8e3 100%);
background: -webkit-linear-gradient(top,  #fefcea 0%,#fcf8e3 100%);
background: linear-gradient(to bottom,  #fefcea 0%,#fcf8e3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#fcf8e3',GradientType=0 );



}

#adress {
    margin-top: 40px;
    text-align: center;
}

#form {
    width: 50%;
    padding: 12px 10px;
    margin: 8px 8px 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#check {
    padding: 12px 10px;
     margin:  0px 8px 8px 8px;
       width: 20px;
       height: 20px;

}

#search {
       font-size: 15px;
       color:#9d9d9d;

}
