.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

html,body {
height: 100%;
}


body {
    background-image: url("./back1.jpg");
background-size: 100% 100%;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('./horses_loading4.gif') 50% 50% no-repeat rgb(249,249,249);
}